@font-face {
  font-family: "Oswald";
  src: url(../assets/fonts/Oswald-Light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url(../assets/fonts/Oswald-Medium.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url(../assets/fonts/Oswald-Bold.ttf) format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url(../assets/fonts/Oswald-SemiBold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container {
  width: 75vw;
  margin: 0 auto;
}

.bold-text {
  font-weight: 700;
  font-size: 18px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #9A8A78;
}

.header-wraper {
  padding-top: 10px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wraper {
  margin-bottom: 26px;
  width: 165px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.logo-text {
  width: 60px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  align-self: self-end;
}

.logo-img {
  width: 60px;
  align-self: self-start;
}

.header-items-wraper {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-item {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item-link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.header-item-link:hover {
  font-size: 18px;
}

.burger-menu {
  display: none;
}

.burger-wraper {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  display: none;
  transition: 1s;
}

.burger-stroke-item {
  background-color: #fff;
  height: 1px;
  width: 90%;
}

.main-section {
  height: 703px;
  position: relative;
}

.dark-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #262626;
  opacity: 0.7;
  filter: blur(3px);
}

.main-bg-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/img/section_1_bg.jpg) center center/1500px 1500px no-repeat;
  z-index: -2;
}

.main-section-wraper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 1500px;
  margin: 0 auto;
}

.main-section-first-wraper {
  margin-top: 50px;
  padding: 10px;
  height: auto;
  width: 100%;
  border: 1px solid #9A8A78;
  border-radius: 5px;
}

.main-section-header-wraper {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section-header-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 30px;
  color: #e7e4e4;
}

.main-section-content-wraper {
  height: auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section-content-text {
  max-width: 800px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  color: #e7e4e4;
  font-weight: 300;
}

.main-section-second-wraper {
  height: 400px;
}

.main-section-items-wraper {
  height: 300px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: flex-start;
}

.main-section-item-wraper {
  padding: 5px;
  width: 190px;
  height: 200px;
  border-radius: 12px;
  background-color: #9A8A78;
  opacity: 0.8;
  transition: 1s;
}

.main-section-item-wraper:hover {
  width: 200px;
  height: 210px;
}

.item-bottom {
  align-self: flex-end;
}

.main-section-item-header-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  height: 40px;
  border-bottom: 1px solid #FFFFFF;
}

.main-section-icon {
  margin-left: 2px;
  width: 15px;
  height: 15px;
}

.main-section-item-header-text {
  width: 80%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
}

.main-section-item-text {
  margin-top: 10px;
  width: 190px;
  height: 70px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}

.years-of-work-section {
  height: auto;
}

.years-of-work-content-wraper {
  margin-top: 10px;
  height: auto;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 110px;
}

.years-of-work-text {
  width: 70%;
  height: auto;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 3px;
  opacity: 0.8;
  align-self: flex-end;
  margin-bottom: 30px;
}

.years-of-work-img {
  margin-left: 25px;
  width: 30%;
  height: auto;
  align-self: flex-end;
  opacity: 0.5;
}

.vacancies-section {
  position: relative;
  padding-top: 1px;
  height: auto;
}

.vacancies-bg-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../assets/img/vacancies_bg.jpg) center center/1500px auto repeat-y;
  z-index: -2;
  filter: blur(3px);
}

.vacancies-wraper {
  padding: 4px 15px 15px 15px;
  position: relative;
  margin-top: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  border: 1px solid #9A8A78;
  border-radius: 5px;
  max-width: 1500px;
}

.vacancies-header {
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 30px;
}

.vacancies-wraper-bg {
  position: absolute;
  width: 98%;
  height: 99%;
  background-color: #ffffff;
  border-radius: 5px;
  opacity: 0.3;
  max-width: 1500px;
  margin: 0 auto;
}

.vacancies-items-wraper {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  opacity: 0.5;
  gap: 15px;
}

.vacancies-item-wraper {
  margin-top: 5px;
  width: 200px;
  height: 190px;
  background: #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.vacancies-item-header-wraper {
  width: 95%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
}

.vacancies-item-header-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
}

.vacancies-item-text {
  width: 95%;
  height: 60%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
}

footer {
  height: 50px;
  background-color: #9A8A78;
  opacity: 0.7;
}

.footer-main-wraper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.footer-left-wraper {
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-direction: column;
}

.footer-contacts-header {
  width: 100%;
  height: 50%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.footer-contacts-text {
  width: 100%;
  height: 50%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000000;
}

.footer-center-wraper {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000000;
}

.footer-right-wraper {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 3px;
  color: #000000;
}

@media screen and (max-width: 1397px) {
  .main-section {
    height: auto;
    padding-bottom: 50px;
  }
  .main-section-wraper {
    height: auto;
  }
  .main-section-second-wraper {
    height: auto;
  }
  .main-section-items-wraper {
    height: auto;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  .years-of-work-text {
    font-size: 10px;
  }
}
@media screen and (max-width: 800px) {
  .bold-text {
    font-size: 15px;
  }
  .main-section-header-text {
    font-size: 20px;
    text-align: center;
  }
  .main-section-content-text {
    font-size: 15px;
  }
  .years-of-work-content-wraper {
    flex-direction: column;
    gap: 5px;
  }
  .years-of-work-img {
    margin-left: 0px;
    order: 2;
    align-self: center;
  }
  .years-of-work-text {
    width: 90%;
    order: 1;
    font-size: 10px;
    align-self: center;
  }
}
@media screen and (max-width: 630px) {
  .burger-menu {
    display: block;
  }
  .burger-menu_button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 30;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.4s;
  }
  .burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
  }
  .burger-menu_button:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .burger-menu_lines::before,
  .burger-menu_lines::after,
  .burger-menu_lines {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: #262626;
    transition: 0.4s;
  }
  .burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu_lines::before {
    content: "";
    top: -12px;
  }
  .burger-menu_lines::after {
    content: "";
    top: 12px;
  }
  .burger-menu_active .burger-menu_lines {
    background-color: transparent;
  }
  .burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
  }
  .burger-menu_active .burger-menu_lines::after {
    top: 0;
    transform: rotate(-45deg);
  }
  .burger-menu_nav {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 120px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #9A8A78;
    overflow-y: auto;
    right: -100%;
    transition: 0.8s;
  }
  .burger-menu_active .burger-menu_nav {
    right: 0;
    transition: 0.4s;
  }
  .burger-menu_link {
    padding: 18px 35px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: #e7e4e4;
    border-bottom: 1px solid #fff;
  }
  .burger-menu_link:first-child {
    border-top: 1px solid #fff;
  }
  .burger-menu_link:hover {
    filter: brightness(0.9);
  }
  .burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  .burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header-items-wraper {
    display: none;
  }
  footer {
    height: auto;
  }
  .footer-main-wraper {
    height: auto;
    flex-direction: column;
    gap: 10px;
  }
  .footer-left-wraper {
    width: 100%;
    align-items: center;
  }
  .footer-contacts-text {
    text-align: center;
  }
  .footer-center-wraper {
    width: 100%;
  }
  .footer-right-wraper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .years-of-work-img {
    align-self: center;
  }
  .years-of-work-text {
    align-self: center;
  }
}/*# sourceMappingURL=main.css.map */