@import './fonts.scss';

$brown: #9A8A78;
$dark: #262626;
$font-color: #e7e4e4;

@mixin flex-wall {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $dark;
}

.container {
    width: 75vw;
    margin: 0 auto;
}

.bold-text {
    font-weight: 700;
    font-size: 18px;
}

.header {
    @include flex-center();
    height: 80px;
    background-color: $brown;
    user-select: none;
}

.header-wraper{
    padding-top: 10px;
    height: 70px;
    @include flex-wall();
}

.logo-wraper{
    margin-bottom: 26px;
    width: 165px;
    height: 60px;
    @include flex-wall();
    gap: 30px;
}

.logo-text {
    width: 60px;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    align-self: self-end;
}

.logo-img {
    width: 60px;
    align-self: self-start;
}

.header-items-wraper {
    width: 40%;
    height: 60px;
    @include flex-wall();
}

.header-item {
    width: 80px;
    height: 30px;
    @include flex-center();
}

.header-item-link {
    @include font();
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.header-item-link:hover {
    font-size: 18px;
}

.main-section {
    height: 754px;
    position: relative;
}

.dark-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $dark;
    opacity: 0.7;
}

.main-bg-photo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../assets/img/section_1_bg.jpg) center center/1500px 1500px no-repeat;
    z-index: -2;
}

.main-section-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-section-first-wraper {
    margin-top: 50px;
    height: 200px;
    width: 100%;
    border: 1px solid $brown;
    border-radius: 5px;
}

.main-section-header-wraper {
    height: 70px;
    @include flex-center();
}

.main-section-header-text {
    @include font();
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 30px;
    color: $font-color;
}

.main-section-content-wraper {
    height: 100px;
    @include flex-center();
}

.main-section-content-text {
    width: 800px;
    @include font();
    font-size: 15px;
    letter-spacing: 1px;
    text-align: center;
    color: $font-color;
    font-weight: 300;
}

.main-section-second-wraper {
    height: 400px;
}

.main-section-items-wraper {
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items:flex-start;
}

.main-section-item-wraper{
    padding: 5px;
    width: 190px;
    height: 200px;
    border-radius: 12px;
    background-color: $brown;
    opacity: 0.8;
    transition: 1s;
}

.main-section-item-wraper:hover {
    width: 200px;
    height: 210px;
}

.item-bottom {
    align-self: flex-end;
}

.main-section-item-header-wraper {
    @include flex-center();
    justify-content: flex-start;
    gap: 5px;
    height: 40px;
    border-bottom: 1px solid #FFFFFF;
}

.main-section-icon {
    margin-left: 2px;
    width: 15px;
    height: 15px;
}

.main-section-item-header-text {
    width: 80%;
    @include font();
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
}

.main-section-item-text {
    margin-top: 10px;
    width: 190px;
    height: 70px;
    @include font();
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}